.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7ddbc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.formItem {
  margin-bottom: 16px;
}

.uploadContainer {
  margin-bottom: 16px;
}

.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButton {
  width: 100%;
}