.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAC37F;
}

.navBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 5em;
    height: 5em;
    padding: 0.5em
}

@media (max-width: 600px) {  
    .icon {  
        width: 3em;  
        height: 3em;  
        padding: 0.3em;  
    }  
      
    .nav {  
        padding: 0.5em;  
    }  
}  