body {
  height: 100vh;
  font-size: 16px;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100vw !important;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #c2c2c2;
  padding: 0 !important;
}

@media (min-width: 360px) {
  .container {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}

.header, .footer {
  background-color: #FAC37F;
  min-height: 5vh;
  z-index: 100;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arima', cursive;
  font-weight: 600;
  font-size: 40px;
  color: #A75E2A;
}

.footer {
  padding: 10px;
}

.main {
  background-color: #FFE2BD;
  padding: 20px;
  min-height: 300px;
  text-align: center;
}

.ant-picker-calendar-mode-switch {
  display: none;
}

.ant-picker-calendar-header {
  background-color: #FAC37F !important;
}

.ant-select-selector {
  background-color: #FAC37F !important;
  border: 0 !important;
  border-radius: 15px !important;
  color: #A75E2A !important;
}

.ant-btn-primary, .ant-btn-color-primary, .ant-btn-default, .ant-btn-color-default {
  background-color: #A75E2A !important;
  border-color: #A75E2A !important;
}

.ant-input-outlined:focus, .ant-input-affix-wrapper-focused {
  border-color: #A75E2A !important;
}